@import "tailwindcss";

.animate-neon {
  animation: neon-breathe 2s ease-in-out infinite alternate;
}

@keyframes neon-breathe {
  from {
    filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.4));
  }
  to {
    filter: drop-shadow(0 0 10px rgba(255, 255, 255, 0.8));
  }
}