@import "tailwindcss";

@theme {
    --animate-border-spin: spin 3s linear infinite;

    @keyframes border-spin {
        100% {
            transform: rotate(-360deg),
        }
    }

}

@layer utilities {
    .glowing-border::before {
        content: '';
        background-image: conic-gradient(transparent 70%, rgb(2, 208, 2));
        @apply top-1/2 left-1/2 -z-1 absolute -translate-x-1/2 -translate-y-1/2  w-[150%] aspect-square;
    }
}